// Colors:
$lightGray: #e6e6f0;
$gray: #aaa;
$darkGray: darkslategray;
$blue: #3c6dc5;
$red: red;

// General styles
h1, h2 {
    font-family: 'Montserrat', helvetica;
}

h1 {
    text-align: center;
}

body {
    font-size: 1.3em;
    color: $darkGray;
    background-color: $lightGray;
    font-family: 'Open Sans', helvetica;
}

// Navigation dots
.navBullets {
	font-size: 80px;
	display: inline-block;
    color: $gray;
    font-family: garamond; // Open Sans seems to ovalize the bullets?
    &:hover {
        color: $blue;
        cursor: pointer;
    }
    &.active {
        color: red;
        cursor: default;
    }
}

// Wrapper around the dots
.bulletsWrapper {
    margin: 0 auto;
    text-align: center;
}

// Wrapper around the whole slider
.sliderWrapper {
    margin: 0 auto;
    margin-top: 150px;
    width: 50%;
    position: relative;
}

// Absolute position the slides
.slide {
    position: absolute;
}

// Hide the placeholder, but let it keep taking up space
.placeholder {
    visibility: hidden;
}

// Back and forward text links
.controls {
    text-align: center;
    color: $blue;
    cursor: pointer;
    font-weight: bold;
}